.app {
  min-height: 100vh;
  background-color: rgb(209, 209, 244);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tweet {
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color: white;
}

.red {
  color: red;
  font-size: 50px;
}
